import /init.recovery.qcom.rc

on init
    # Load Tuxera exFAT module
    insmod /system/lib/modules/texfat.ko

on boot
    export LD_PRELOAD /sbin/liblog_htc_sbin.so

    start chargeled

service chargeled /sbin/chargeled
    disabled
    seclabel u:r:healthd:s0
